<div class="topnav">
  <a href="/">Home</a>
  <!-- This will be used in part 2 you can comment it if you just implement code in part1 -->
  <a [routerLink]="['check-api']">Check Api</a>
  <a class="split" *ngIf="!loginDisplay" (click)="login()">Login</a>
  <a class="split" *ngIf="loginDisplay" (click)="logout()">Logout</a>
</div>

<div class="container">
  <!-- This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
  <p *ngIf="loginDisplay">You have successfully logged in</p>
  <p *ngIf="!loginDisplay">You are logged out. Please login</p>
</div>
